@use "../../varibales/varibales" as *;

.services {
  padding: 80px 15px;
  background-color: $black-color;
  h4 {
    color: $bg-white;
    font-weight: bold;
  }
  .left {
    img {
      max-width: 80%;
    }
  }
  h1 {
    color: $bg-white;
  }
  .grid-box {
    .left {
      padding-left: 15px;
      width: fit-content;
    }
    .right {
      h3 {
        color: $bg-white;
      }
      p {
        color: $light-text;
      }
    }
  }
}
