$primary-color: #fefefe;
$secondary-color: #f6f7f9;
$blue-color: #3554c0;
$black-color: #21262c;
$text-white: #ffffff;
$bg-white: #ffffff;
$btn-blue-color: #343f52;
$bg-white: #ffffff;
$blue-btn-color: #3f78e0;
$heading-color: #343f52;
$dark-text: #60697b;
$sub-text: #aab0bc;
$light-text: #cacaca;
