@use "../../varibales/varibales" as *;
.header-animation {
  position: fixed;
  width: 100%;
  z-index: 99;
  header {
    box-shadow: $box-shadow;
    background-color: $bg-white;
  }
}
.white-header {
  background-color: white;
  .login {
    background-color: $blue-btn-color !important;
    color: white !important;
  }
}
.header-animation,
.white-header {
  .right {
    svg {
      color: $heading-color;
    }
  }
  .pc-nav {
    > li {
      > a {
        color: $heading-color;
        &:hover {
          color: $blue-btn-color;
        }
      }
    }
  }
}
.page-nav-box {
  box-shadow: $box-shadow;
}
header {
  background-color: transparent;
  z-index: 100;
  padding: 0 15px;
  width: 100%;
  position: absolute;
  color: $bg-white;
  height: 75px;
  nav {
    height: 75px;
    .pc-nav {
      > li {
        > a {
          padding: 25px 20px;
          display: block;

          font-size: 1rem;
          font-weight: bold;
          &:hover {
            color: #ffffffb2;
          }
          > svg {
            font-size: 16px;
          }
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
      }
      li {
        text-transform: capitalize;
      }
      .pages {
        cursor: pointer;
        &:hover {
          .pages-nav {
            display: block;
            animation: transform forwards 0.1s linear;
            -webkit-animation: transform forwards 0.1s linear;
            transition: 0.3;
            -webkit-transition: 0.3;
            -moz-transition: 0.3;
            -ms-transition: 0.3;
            -o-transition: 0.3;
          }
        }
      }
      .pages-nav {
        padding: 25px 25px 5px;
        display: none;
        background-color: $bg-white;
        position: absolute;
        > li {
          > a {
            padding: 0 15px 20px 10px;
            display: block;
            color: $heading-color;
            font-size: 1rem;
            font-weight: bold;
            &:hover {
              color: $blue-color;
            }
          }
        }
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
      }
    }
  }
  .right {
    .cart-icon {
      font-size: 18px;
      cursor: pointer;
    }
    .cart-items {
      font-weight: bold;
      top: -12px;
      left: 3px;
      mix-blend-mode: difference;
    }
    .login {
      display: block;
      padding: 10px 15px;
      border-radius: 20px;
      line-height: 15px;
      background-color: $bg-white;
      color: $black-color;
    }
    .menu-icon {
      font-size: 24px;
      cursor: pointer;
      @media (min-width: 576px) {
        font-size: 26px;
      }
    }
  }
}
.drawer {
  height: 100vh;

  z-index: 1000;
  left: 0;
  top: 0;
  .drawer-heading {
    padding-bottom: 30px;
    h3 {
      font-size: 1.6rem;
      font-weight: bold;
    }
    .close-icon {
      .close-circle {
        color: hsla(0, 0%, 100%, 0.08);
      }
      .close-x {
        color: $bg-white;
      }
    }
  }
  .drawer-content {
    position: fixed;
    padding: 30px;
    width: 300px;
    background-color: $black-color;
    ul {
      > li {
        > a {
          display: flex;
          text-transform: capitalize;
          font-size: 16px;
          font-weight: bold;
          padding: 6px 0;
          cursor: pointer;

          &:hover {
            color: #ffffffb2;
          }
        }
      }
    }
    .pages-nav {
      height: 0;
      overflow: hidden;
    }

    .page-links {
      padding: 8px 20px;
    }
  }
  .c-links {
    a {
      padding-bottom: 12px;
    }
  }
  .drawer-icons {
    svg {
      padding: 0 20px 0 0;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -o-transform: translateY(-7px);
      }
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  }
  .drawer-closer {
    position: fixed;

    width: 100vw;
    height: 100%;
    background-color: $black-color;
    opacity: 0;
    z-index: -1;
    top: 0;
  }
}

@keyframes transform {
  0% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
