@use "../../varibales/varibales" as *;

.com {
  padding-top: 100px;
  padding-bottom: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary-color;
  @media (min-width: 768px) {
    background-image: url("./sb-services/map.png");
  }
  .fixed-heading {
    h4 {
      color: $sub-text;
    }
    h1 {
      color: $heading-color;
    }
  }
  h3 {
    color: $blue-btn-color;
    font-size: 2.2rem;
    font-weight: bold;
  }
  p {
    color: $heading-color;
  }
}
