@use "../../varibales/varibales" as *;
.cart-page {
  padding: 75px 0 0;
  min-height: 80vh;
}
.empty-cart {
  margin-top: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: $heading-color;
}
.cart-content {
  padding: 80px 15px;
  .table-scrol {
    overflow-x: auto;
  }
  table {
    width: 100%;
    @media (max-width: 991px) {
      min-width: 550px;
    }
    .img-container {
      width: 120px;
      overflow: hidden;
      img {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
      }
    }
    tr {
      box-shadow: 0px 2px 0 0 #f0f4fd;
    }
    th {
      padding: 15px;
      color: $heading-color;
      &:first-child {
        text-align: left;
      }
    }
    .prod-name {
      text-align: left !important;
    }
    td {
      text-align: center;
      padding: 15px;
      @media (max-width: 768px) {
        padding: 12px;
      }
      font-size: 0.9rem;
      color: $dark-text;
      h3 {
        color: $heading-color;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
    .prod-remove {
      cursor: pointer;
    }
  }
  .prod-qty {
    font-size: 1rem;
  }
  .qty-icons {
    svg {
      display: block;
      margin: 5px 0;
      cursor: pointer;
    }
  }
}
.table-scrol {
  @media (min-width: 992px) {
    width: 65%;
  }
}
.sub-total-area {
  @media (min-width: 992px) {
    width: 35%;
  }
  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: $heading-color;
  }
}
.sub-total {
  div {
    padding: 20px 0;
    box-shadow: 0px 2px 0 0 #f0f4fd;
    h5 {
      color: $heading-color;
      font-weight: bold;
    }
  }
}
.checkout-btn {
  padding: 0 !important;
  box-shadow: none !important;
  margin-top: 30px;
  a,
  button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: $blue-btn-color;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: $box-shadow;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: 1;
    position: relative;
    &::after,
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 0;
      transition: 0.3s;
      background-color: $secondary-color;
    }
    &::after {
      left: 0;
    }
    &::before {
      right: 0;
    }
    &:hover {
      color: $blue-btn-color;
      &::after,
      &::before {
        width: 50%;
      }
    }
  }
}
.cart-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $heading-color;
  span {
    @media (max-width: 768px) {
      font-size: 4rem !important;
    }
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    display: block;
    color: #cacaca;

    &::after {
      content: "";
      width: 25%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: white;
      mix-blend-mode: difference;
      animation: loading 3s linear infinite;
      -webkit-animation: loading 3s linear infinite;
    }
  }
}
.table-popup {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  span {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;
    font-weight: bold;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}
@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 50;
  }
}
