.h-color {
  color: #343f52;
}

.text-color {
  color: #60697b;
}

.sub-h-color {
  color: #aab0bc;
}

.f-lg {
  font-size: 1.8rem;
  font-weight: bold;
}

.p-section {
  padding: 80px 15px;
}

.lineal-stroke {
  fill: #36496d;
}

.lineal-fill {
  fill: #8caeec;
}

.home-landing {
  background-image: linear-gradient(0deg, #2c46a7, #3757c4);
  color: #ffffff;
  min-height: 100vh;
}
.home-landing h2 {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .home-landing h2 {
    font-size: 1.2rem;
  }
}
.home-landing h1 {
  font-size: 3rem;
  margin: 10px auto 30px;
}
@media (max-width: 767px) {
  .home-landing h1 {
    font-size: 2.5rem;
    padding: 0 6px;
  }
}
.home-landing h1 span {
  position: relative;
}
.home-landing h1 span::after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #08aeea, #2af598);
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .home-landing h1 {
    max-width: 75%;
  }
}

.video {
  margin-top: -100px;
  padding: 0 0 50px;
}

.video-popup {
  padding: 0 15px;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 101;
}
.video-popup::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}
.video-popup .close-btn {
  top: -15px;
  right: -15px;
  position: absolute;
  opacity: 0.6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.video-popup .close-btn:hover {
  opacity: 1;
}
.video-popup .close-btn .close-circle {
  opacity: 0.6;
}
.video-popup .close-btn .close-x {
  color: white;
  opacity: 1;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.2), 0 0 0 0.2rem rgba(255, 255, 255, 0.2), 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.4rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.2), 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.4rem rgba(255, 255, 255, 0.2), 0 0 0 2rem rgba(255, 255, 255, 0);
  }
}
.about h4,
.more-about h4 {
  color: #3f78e0;
  font-weight: bold;
}
.about .mb-5,
.more-about .mb-5 {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}
.about h2,
.more-about h2 {
  color: #343f52;
  font-weight: bold;
  font-size: 1.9rem;
  margin: 15px 0 6px;
}
.about h5,
.more-about h5 {
  color: #343f52;
  font-weight: bold;
}
.about p,
.more-about p {
  color: #60697b;
  line-height: 1.6;
}

.about {
  padding: 80px 0;
}
.about .about-imgs {
  padding: 0 15px;
}
@media (min-width: 992px) {
  .about .about-imgs {
    width: 52%;
  }
}
.about .about-imgs img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about .about-text {
  padding: 0 15px;
}
@media (max-width: 991px) {
  .about .about-text {
    padding: 50px 15px 0;
  }
}
@media (min-width: 992px) {
  .about .about-text {
    width: 45%;
  }
}
.about .lower-about {
  padding: 0 15px;
}
.about .lower-about .right h3 {
  color: #343f52;
}
.about .lower-about .left {
  padding: 15px 22px;
  background-color: #e0e9fa;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #3554c0;
  font-weight: bold;
  border-radius: 8px;
}

.services {
  padding: 80px 15px;
  background-color: #21262c;
}
.services h4 {
  color: #ffffff;
  font-weight: bold;
}
.services h1 {
  color: #ffffff;
}
.services .grid-box .left {
  flex: 1;
}
.services .grid-box .left img {
  max-width: 80px;
  margin: auto;
}
.services .grid-box .right {
  flex: 2;
}
.services .grid-box .right h3 {
  color: #ffffff;
}
.services .grid-box .right p {
  color: #cacaca;
}

.more-about {
  padding: 80px 15px;
}
.more-about .img-container {
  position: relative;
}
@media (min-width: 768px) {
  .more-about .img-container {
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  .more-about .img-container {
    width: 58%;
  }
}
.more-about .img-container img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.more-about .img-container .grid-box {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.more-about .img-container .grid-box {
  display: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 18%;
  left: -16px;
  align-items: center;
  padding: 16px 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .more-about .img-container .grid-box {
    display: flex;
  }
}
.more-about .img-container .grid-box h3 {
  margin-bottom: 0;
  color: #60697b;
  font-weight: bold;
}
.more-about .img-container .grid-box .left {
  width: 40px;
  height: 40px;
  background-color: #e0e9fa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.more-about .img-container .grid-box .left svg {
  color: #3f78e0;
}
.more-about .img-container .box {
  width: 160px;
  padding: 12px 20px;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  background-color: #ffffff;
  position: absolute;
  bottom: 10%;
  left: -26px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.more-about .img-container .box h6,
.more-about .img-container .box h5 {
  font-size: 18px;
  font-weight: bold;
  color: #60697b;
}
.more-about .img-container .box h5 {
  margin-top: 10px;
}
.more-about .img-container .curved-progress {
  width: 120px;
  height: 60px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.more-about .img-container .curved-progress::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #3f78e0;
  position: absolute;
  left: 0;
  top: 0;
  border-right-color: #e0e9fa;
  transform: rotate(20deg);
}
@media (max-width: 991px) {
  .more-about .more-about-text {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .more-about .more-about-text {
    width: 40%;
  }
}

.case {
  padding: 80px 15px;
  background-color: #f6f7f9;
}
.case .fixed-heading h4 {
  color: #3554c0;
}
.case .fixed-heading h1 {
  color: #343f52;
}
.case .card {
  overflow: hidden;
  box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.case .card p {
  color: #60697b;
}
.case .img-container {
  cursor: pointer;
  overflow: hidden;
}
.case .img-container:hover::after {
  opacity: 0.6;
}
.case .img-container:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.case .img-container:hover span {
  opacity: 1;
  top: 50%;
}
.case .img-container img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .img-container span {
  font-size: 18px;
  font-weight: bold;
  top: 47%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .img-container::after {
  content: "";
  z-index: 1;
  background-color: #21262c;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .card-body {
  padding: 40px 40px 30px;
  border-bottom: 1px solid rgba(52, 63, 82, 0.07);
  color: #343f52;
}
.case .card-body h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.case .card-footer {
  padding: 20px 30px;
  color: #aab0bc;
}
.case .card-footer .right,
.case .card-footer .left {
  cursor: pointer;
}
.case .card-footer .right {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .card-footer .right:hover {
  color: #3554c0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes showOff {
  0% {
    opacity: 0;
    top: 49%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
.choose-us {
  padding: 80px 15px;
  background-color: #fefefe;
}
.choose-us p {
  color: #60697b;
}
.choose-us .fixed-heading h4 {
  color: #3554c0;
}
.choose-us .fixed-heading h1 {
  color: #343f52;
}
.choose-us .grid-links {
  margin-bottom: 40px;
}
.choose-us .mt-5 {
  margin-top: 20px;
}
.choose-us .pl-2 {
  padding-left: 10px;
}
.choose-us .why-link {
  padding: 20px 16px 20px 24px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.choose-us .why-link:hover, .choose-us .why-link.active {
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 15px rgba(0, 0, 0, 0.08);
}
.choose-us .why-link .grid-box h3 {
  color: #343f52;
}
.choose-us .why-link .grid-box .left {
  flex: 1;
}
.choose-us .why-link .grid-box .left img {
  max-width: 80px;
  margin: auto;
}
.choose-us .why-link .grid-box .right {
  flex: 2;
}
@media (min-width: 992px) {
  .choose-us .route-ele .img-content {
    width: 49%;
  }
}
@media (max-width: 991px) {
  .choose-us .route-ele .img-content {
    margin-bottom: 30px;
  }
}
.choose-us .route-ele .img-content img {
  box-shadow: 0px 0px 12px 15px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.choose-us .route-ele .img-content .left-imgs,
.choose-us .route-ele .img-content .right-imgs,
.choose-us .route-ele .img-content .img-container {
  display: grid;
  gap: 20px;
}
.choose-us .route-ele .img-content .left-imgs {
  width: 48%;
}
.choose-us .route-ele .img-content .right-imgs {
  width: 48%;
}
.choose-us .route-ele .img-content .wider {
  width: 55% !important;
}
.choose-us .route-ele .img-content .smaller {
  width: 40% !important;
}
.choose-us .route-ele .img-content .left-col-1 {
  align-self: center;
}
.choose-us .route-ele .img-content .left-col-2 {
  margin-left: auto;
}
.choose-us .route-ele .router-ele-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-us .route-ele .router-ele-text h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343f52;
}
.choose-us .route-ele .router-ele-text > p {
  margin: 20px 0;
}
@media (min-width: 992px) {
  .choose-us .route-ele .router-ele-text {
    width: 47%;
  }
}
.choose-us .route-ele .router-ele-text .blue-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
}

.our-team {
  background-color: #f6f7f9;
  padding: 80px 15px 0;
}
.our-team .container h4 {
  color: #3f78e0;
}
.our-team .container h1 {
  color: #343f52;
}
.our-team .container > p {
  color: #60697b;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.com-sec {
  background-color: #f6f7f9;
}

.commnuity {
  position: relative;
  z-index: 1;
  padding: 0 15px 80px;
}
@media (max-width: 767px) {
  .commnuity {
    padding-top: 80px;
  }
}
.commnuity::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #2c46a7, #3757c4);
  z-index: -1;
}
@media (min-width: 768px) {
  .commnuity::after {
    height: calc(100% - 150px);
  }
}
.commnuity .swiper-container {
  cursor: default;
  overflow: hidden;
  background-color: white;
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .commnuity .swiper-container {
    margin-top: -150px;
  }
}
.commnuity .swiper {
  max-width: 550px;
  background-color: white;
  padding: 35px 30px 80px;
  text-align: center;
}
@media (min-width: 768px) {
  .commnuity .swiper {
    padding: 50px 30px 80px;
  }
}
.commnuity .swiper q {
  color: #60697b;
  line-height: 1.7;
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
  display: block;
}
.commnuity .swiper .left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.commnuity .swiper .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.commnuity .swiper .right h5 {
  font-size: 1.3rem;
  color: #343f52;
  font-weight: bold;
  text-transform: capitalize;
}
.commnuity .swiper .right p {
  font-size: 1.1rem;
  color: #60697b;
  text-transform: capitalize;
}
.commnuity .swiper .swiper-pagination-bullets {
  bottom: 25px !important;
}
.commnuity .swiper .swiper-pagination-bullets span {
  background-color: #60697b;
  width: 12px;
  height: 12px;
}
.commnuity .swiper .swiper-pagination-bullets span:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.commnuity .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 3px solid #60697b;
}
.commnuity .swiper .swiper-pagination-bullets span {
  margin-right: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.commnuity .fixed-heading h1,
.commnuity .fixed-heading h4 {
  color: #ffffff;
}
.commnuity .fixed-heading h4 {
  margin-top: 80px;
}
@media (min-width: 768px) {
  .commnuity .fixed-heading h4 {
    margin-top: 100px;
  }
}

.header-animation {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header-animation header {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  background-color: #ffffff;
}

.white-header {
  background-color: white;
}
.white-header .login {
  background-color: #3f78e0 !important;
  color: white !important;
}

.header-animation .right svg,
.white-header .right svg {
  color: #343f52;
}
.header-animation .pc-nav > li > a,
.white-header .pc-nav > li > a {
  color: #343f52;
}
.header-animation .pc-nav > li > a:hover,
.white-header .pc-nav > li > a:hover {
  color: #3f78e0;
}

.page-nav-box {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
}

header {
  background-color: transparent;
  z-index: 100;
  padding: 0 15px;
  width: 100%;
  position: absolute;
  color: #ffffff;
  height: 75px;
}
header nav {
  height: 75px;
}
header nav .pc-nav > li > a {
  padding: 25px 20px;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav .pc-nav > li > a:hover {
  color: rgba(255, 255, 255, 0.6980392157);
}
header nav .pc-nav > li > a > svg {
  font-size: 16px;
}
header nav .pc-nav li {
  text-transform: capitalize;
}
header nav .pc-nav .pages {
  cursor: pointer;
}
header nav .pc-nav .pages:hover .pages-nav {
  display: block;
  animation: transform forwards 0.1s linear;
  -webkit-animation: transform forwards 0.1s linear;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}
header nav .pc-nav .pages-nav {
  padding: 25px 25px 5px;
  display: none;
  background-color: #ffffff;
  position: absolute;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
header nav .pc-nav .pages-nav > li > a {
  padding: 0 15px 20px 10px;
  display: block;
  color: #343f52;
  font-size: 1.2rem;
  font-weight: bold;
}
header nav .pc-nav .pages-nav > li > a:hover {
  color: #3554c0;
}
header .right .cart-icon {
  font-size: 18px;
  cursor: pointer;
}
header .right .cart-items {
  font-weight: bold;
  top: -12px;
  left: 3px;
  mix-blend-mode: difference;
}
header .right .login {
  display: block;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 15px;
  background-color: #ffffff;
  color: #21262c;
}
header .right .menu-icon {
  font-size: 24px;
  cursor: pointer;
}
@media (min-width: 576px) {
  header .right .menu-icon {
    font-size: 26px;
  }
}

.drawer {
  height: 100vh;
  z-index: 1000;
  left: 0;
  top: 0;
}
.drawer .drawer-heading {
  padding-bottom: 30px;
}
.drawer .drawer-heading h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.drawer .drawer-heading .close-icon .close-circle {
  color: hsla(0, 0%, 100%, 0.08);
}
.drawer .drawer-heading .close-icon .close-x {
  color: #ffffff;
}
.drawer .drawer-content {
  position: fixed;
  padding: 30px;
  width: 300px;
  background-color: #21262c;
}
.drawer .drawer-content ul > li > a {
  display: flex;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: bold;
  padding: 6px 0;
  cursor: pointer;
}
.drawer .drawer-content ul > li > a:hover {
  color: rgba(255, 255, 255, 0.6980392157);
}
.drawer .drawer-content .pages-nav {
  height: 0;
  overflow: hidden;
}
.drawer .drawer-content .page-links {
  padding: 8px 20px;
}
.drawer .c-links a {
  padding-bottom: 12px;
}
.drawer .drawer-icons svg {
  padding: 0 20px 0 0;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.drawer .drawer-icons svg:hover {
  transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
}
.drawer .drawer-closer {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #21262c;
  opacity: 0;
  z-index: -1;
  top: 0;
}

@keyframes transform {
  0% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
footer {
  background-color: #21262c;
  padding: 80px 15px;
}
footer h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}
footer svg {
  color: #ffffff;
}
footer li,
footer p {
  color: #cacaca;
  width: -moz-fit-content;
  width: fit-content;
}
footer .third-f li a {
  display: block;
  margin-bottom: 6px;
  cursor: pointer;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}
footer .third-f li a:hover {
  color: #3f78e0;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .four-f {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

footer .email {
  display: flex;
}
footer .email label {
  padding: 2px 20px;
  width: 100%;
}
footer .email label input {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
}
footer .email label p {
  font-size: 12px;
}
footer button {
  color: #ffffff;
  background-color: #3f78e0;
  padding: 0 20px;
}

footer .email {
  border: 1px solid #3f78e0;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.s-landing {
  min-height: 61vh;
  display: flex;
  align-items: center;
  background-image: url(/sb-services/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  color: #ffffff;
}
.s-landing::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  background-color: #1e2228;
}
.s-landing h1 {
  font-size: 2rem;
  font-weight: bold;
}
.s-landing .text {
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.s-do {
  background-color: #fefefe;
}
@media (max-width: 991px) {
  .s-do .do-imgs {
    margin-bottom: 40px;
  }
}
.s-do .do-imgs .img-text {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.s-do .do-imgs svg {
  width: 56px;
  height: 56px;
}
@media (min-width: 768px) {
  .s-do .do-imgs .do-1 {
    width: 48%;
    padding-left: 30px;
  }
}
.s-do .do-imgs .do-1 .lineal-fill {
  fill: #fcd49b;
}
@media (min-width: 768px) {
  .s-do .do-imgs .do-2 {
    width: 52%;
    padding-top: 28px;
  }
}
.s-do .do-imgs .do-2 .lineal-fill {
  fill: #eea1a6;
}
@media (min-width: 768px) {
  .s-do .do-imgs .do-3 {
    width: 43%;
  }
}
.s-do .do-imgs .do-3 .lineal-fill {
  fill: #b0d4c1;
}
@media (min-width: 768px) {
  .s-do .do-imgs .do-4 {
    width: 57%;
    padding-right: 25px;
  }
}
.s-do .do-imgs h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #21262c;
}
@media (min-width: 992px) {
  .s-do .do-imgs {
    width: 56%;
  }
  .s-do .do-text {
    width: 40%;
  }
}
.s-do .do-btn {
  width: -moz-fit-content;
  width: fit-content;
}
.s-do .do-btn .blue-btn {
  background-color: #343f52;
  border-radius: 50px;
}

.proc,
.video-section {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #edf2fc;
}

.video-section {
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  .video-section::after {
    content: "";
    width: 100%;
    height: 49%;
    background-color: #fefefe;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.proc .fixed-heading h4 {
  color: #aab0bc;
}
.proc .fixed-heading h1 {
  color: #343f52;
}
.proc .service-lower h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.proc svg {
  width: 56px;
  height: 56px;
  margin: auto;
}
.proc .proc-1 .lineal-fill {
  fill: #eea1a6;
}
.proc .proc-2 .lineal-fill {
  fill: #8fdcc6;
}
.proc .proc-3 .lineal-fill {
  fill: #fcd49b;
}

.solution {
  background-color: #fefefe;
}
@media (min-width: 992px) {
  .solution .sol-1,
  .solution .sol-2 {
    width: 65%;
  }
}
@media (min-width: 992px) {
  .solution .upper-sol-text,
  .solution .lower-sol-text {
    width: 45%;
  }
}
.solution .upper-sol-text p,
.solution .lower-sol-text p {
  font-weight: bold;
}
.solution .upper-sol-text span,
.solution .lower-sol-text span {
  color: #343f52;
}
.solution .lower-area p {
  flex: 1;
  color: #60697b;
}

.color-bar {
  height: 10px;
  width: 100%;
  background-color: #eee;
  border-radius: 12px;
  margin-bottom: 10px;
  overflow: hidden;
}

.color-progess {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.pricing-top {
  background-color: #edf2fc;
}
.pricing-top h1 {
  margin-bottom: 0 !important;
  padding-bottom: 50px;
  color: #343f52;
}
.pricing-top h4 {
  color: #aab0bc;
}

.pricing-top,
.pricing-bottom {
  padding-left: 15px;
  padding-right: 15px;
}

.swiper-btn-container {
  margin-bottom: 40px;
}
.swiper-btn-container p {
  color: #343f52;
  margin: 0 8px;
  letter-spacing: -0.05rem;
}
.swiper-btn-container .swiper-btn {
  cursor: pointer;
  width: 80px;
  height: 35px;
  background-color: #3f78e0;
  border-radius: 50px;
  padding: 4px;
}
.swiper-btn-container .swiper-btn .circle {
  width: 25px;
  height: 25px;
  background-color: #fefefe;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.pricing-bottom {
  background-color: #fefefe;
  position: relative;
  z-index: 1;
}
.pricing-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
  background-color: #edf2fc;
}
@media (max-width: 767px) {
  .pricing-bottom::after {
    height: 20%;
  }
}
.pricing-bottom .card {
  background-color: #fefefe;
  overflow: hidden;
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: auto 0;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 992px) {
  .pricing-bottom .price-2 {
    padding: 20px 0;
  }
}
.pricing-bottom .card-padding {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-bottom .card-padding > svg {
  width: 56px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}
.pricing-bottom .card-padding h3 {
  color: #343f52;
  font-size: 1.3rem;
  font-weight: bold;
}
.pricing-bottom .card-padding .price-swapp {
  min-height: 72px;
  color: #343f52;
}
.pricing-bottom .card-padding .price-swapp > div {
  margin-top: -20px;
}
.pricing-bottom .card-padding .price-swapp h6 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 8px;
}
.pricing-bottom .card-padding .price-swapp span {
  font-size: 3rem;
  font-weight: bold;
}
.pricing-bottom .card-padding .price-swapp p {
  display: flex;
  align-items: flex-end;
  margin-bottom: 13px;
  margin-left: -5px;
  font-size: 1.1rem;
}
.pricing-bottom .price-card-lower {
  color: #60697b;
}
.pricing-bottom .price-card-lower h5 {
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.com {
  padding-top: 100px;
  padding-bottom: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fefefe;
}
@media (min-width: 768px) {
  .com {
    background-image: url("./sb-services/map.png");
  }
}
.com .fixed-heading h4 {
  color: #aab0bc;
}
.com .fixed-heading h1 {
  color: #343f52;
}
.com h3 {
  color: #3f78e0;
  font-size: 2.2rem;
  font-weight: bold;
}
.com p {
  color: #343f52;
}

.product-card h2 {
  height: 52px;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
.product-card .card-img {
  height: -webkit-fill-available;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.product-card .card-img img {
  height: 100%;
}
@media (min-width: 768px) {
  .product-card .card-img {
    max-width: 400px;
  }
}
.product-card .add-to-cart {
  bottom: 0;
  width: 100%;
  background-color: rgba(38, 43, 50, 0.8);
  color: white;
  cursor: pointer;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}
.product-card .add-to-cart:hover {
  background-color: rgb(38, 43, 50);
}
.product-card .add-to-cart svg {
  margin-bottom: 4px;
}
.product-card .right-icons {
  right: 0;
  top: 0;
}
.product-card .right-icons > div {
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.product-card .right-icons > div a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .right-icons > div svg {
  color: rgb(38, 43, 50);
}
.product-card .right-icons > div::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(38, 43, 50);
  z-index: -1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.product-card .right-icons > div:hover svg {
  color: white;
}
.product-card .right-icons > div:hover::after {
  width: 100%;
}
.product-card .card-body h5 {
  font-weight: bold;
  text-transform: uppercase;
  color: #60697b;
}
.product-card .card-body h2 {
  color: #343f52;
  font-size: 1.6rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 768px) {
  .product-card .card-body h2 {
    font-size: 1.4rem;
  }
}
.product-card .card-body h2:hover {
  color: #3554c0;
}
.product-card .card-body h6 {
  color: #60697b;
}

.product-card .add-to-cart,
.product-card .right-icons {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.product-card .right-icons {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  opacity: 0;
}
.product-card .add-to-cart {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  opacity: 0;
}
.product-card:hover .add-to-cart {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 1;
}
.product-card:hover .right-icons {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
}

@media (min-width: 768px) {
  .products-container .left {
    padding: 0 50px 0 0;
  }
}
.products-container .left h1 {
  font-size: 1.8rem;
  color: #343f52;
  margin-bottom: 8px;
}
.products-container .left li {
  padding-bottom: 10px;
  cursor: pointer;
  color: #343f52;
  font-size: 1.1rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.products-container .left li:hover {
  color: #3f78e0;
}
.products-container .empty-page {
  color: #343f52;
  font-size: 1.1rem;
}
.products-container .empty-page a {
  display: block;
  color: #3f78e0;
  text-decoration: underline;
}

.price-inputs {
  align-items: center;
}
@media (min-width: 768px) {
  .price-inputs {
    flex-wrap: wrap;
  }
  .price-inputs span {
    display: none;
  }
}
.price-inputs input {
  width: 80px;
  border-radius: 8px;
  padding: 8px 16px;
  color: #60697b;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
}
.price-inputs input:focus {
  outline: none;
}

#price-btn {
  margin-top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #3f78e0;
  color: #ffffff;
  font-weight: bold;
}

.single-product {
  padding: 75px 15px 100px;
  background-color: #fefefe;
}

.single-prod-top {
  width: 100%;
  background-color: #f6f7f9;
  padding: 20px 15px;
  color: #343f52;
}
.single-prod-top .container {
  flex-wrap: wrap;
}
.single-prod-top .a {
  text-decoration: underline;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.single-prod-top .a:hover {
  color: #3f78e0;
}
.single-prod-top svg {
  color: rgba(96, 105, 123, 0.35);
}

.single-prod-container {
  padding-top: 70px;
}

.prod-text h1 {
  color: #343f52;
  font-weight: bold;
  font-size: 1.8rem;
}
.prod-text h2 {
  color: #60697b;
  font-size: 1.1rem;
  margin: 5px 0 12px;
}
.prod-text p {
  color: #60697b;
}
.prod-text .rating {
  align-items: center;
}
.prod-text .rating > span {
  color: #60697b;
}
.prod-text .rating .rating-span {
  color: #faaf00;
  font-size: 1.2rem !important;
}
.prod-text h3 {
  color: #343f52;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.1rem;
}
.prod-text li {
  width: 35px;
  height: 35px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.prod-text .sizes {
  margin-bottom: 20px;
}
.prod-text .sizes li {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: rgba(164, 174, 198, 0.2);
  border-radius: 8px;
  text-transform: uppercase;
}
.prod-text .sizes li.active {
  background-color: #3f78e0 !important;
  color: white !important;
}
.prod-text .choose-color ul {
  padding: 2px 0;
}
.prod-text .choose-color li {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.prod-text .choose-color li.active {
  border: 2px solid #ffffff;
}
.prod-text .add-to-cart-2 {
  margin-top: 40px;
}
.prod-text .qty {
  width: 60px;
  padding: 8px;
  height: 100%;
  display: block;
  background-color: #fefefe;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.0509803922);
  text-align: center;
  font-weight: bold;
  margin-right: 5px;
}
.prod-text .qty:focus {
  outline: none;
}
.prod-text .add-to-cart {
  width: 100%;
  background-color: #3f78e0;
  padding: 8px 0;
  color: #ffffff;
  font-size: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.prod-text .love-icon {
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.prod-text .love-icon,
.prod-text .add-to-cart {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.prod-text .love-icon:hover,
.prod-text .add-to-cart:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.swiper {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .mySwiper {
    padding-bottom: 10px;
  }
}
.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 650px;
}
.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.mySwiper .swiper-left,
.mySwiper .swiper-right {
  position: absolute;
  top: 45% !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mySwiper .swiper-left svg,
.mySwiper .swiper-right svg {
  font-size: 1.2rem;
  color: #343f52;
}
.mySwiper .swiper-left {
  left: 5px;
}
.mySwiper .swiper-right {
  right: 5px;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  opacity: 0 !important;
  z-index: -1;
  overflow: hidden;
}
.mySwiper .swiper-pagination {
  position: relative;
  margin-top: 20px;
  display: flex;
  gap: 5px;
}
.mySwiper .swiper-pagination img {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet {
  width: 25% !important;
  height: auto !important;
  max-height: 6rem;
}
@media (min-width: 992px) {
  .mySwiper .swiper-pagination .swiper-pagination-bullet {
    max-height: 7.5rem !important;
  }
}
.mySwiper .swiper-pagination .swiper-pagination-bullet img {
  height: 100%;
  width: 100%;
}
.mySwiper .swiper-pagination-bullet-active,
.mySwiper .swiper-pagination-bullet {
  background: transparent !important;
}

.swiper-width {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .swiper-width {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .swiper-width {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .prod-text {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .prod-text {
    width: 50%;
  }
}

.discription li {
  color: #343f52;
  border-bottom: 1px solid rgba(63, 120, 224, 0.1803921569);
  padding-bottom: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.discription li.active,
.discription li :hover {
  color: #3f78e0;
  border-bottom: 1px solid #3f78e0;
}
.discription p {
  color: #60697b;
}

.related-prod {
  background-color: #f6f7f9;
  padding: 70px 15px 60px;
}
.related-prod h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #343f52;
  text-align: center;
  margin-bottom: 25px;
}

.related-swiper {
  padding-bottom: 40px;
}
.related-swiper .swiper-slide {
  height: auto;
}
.related-swiper .swiper-slide .product-card {
  height: 100%;
}
.related-swiper .swiper-pagination-bullet-active {
  background: #fff !important;
  border: 3px solid #aab0bc;
}
.related-swiper .swiper-pagination-bullet {
  margin-right: 5px;
  width: 11px;
  height: 11px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.related-swiper .swiper-pagination-bullet:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.notistack-SnackbarContainer {
  position: fixed !important;
  top: 5px !important;
}

.products {
  padding-top: 75px;
}

.products-container {
  padding: 70px 15px;
}

.product-top {
  padding: 20px 15px;
  background-color: #f6f7f9;
  color: #60697b;
}
.product-top .a {
  text-decoration: underline;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.product-top .a:hover {
  color: #3f78e0;
}
.product-top svg {
  color: rgba(96, 105, 123, 0.35);
}

.products-area {
  min-height: 100vh;
}
.products-area .grid {
  padding: 40px 0;
}
.products-area ul {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #cacaca;
}
.products-area ul a {
  display: block;
  font-weight: bold;
  cursor: pointer;
  padding: 16px 24px;
  background-color: white;
  color: #343f52;
  border-left: 1px solid #cacaca;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.products-area ul a:first-child {
  border-left: none !important;
}
.products-area ul a:hover {
  color: #3f78e0;
}

.top-area .text h1 {
  font-size: 1.9rem;
  font-weight: bold;
  color: #343f52;
}
.top-area .sorting select {
  padding: 12px 20px;
  border: 1px solid #f6f7f9;
  color: #60697b;
  border-radius: 6px;
  box-shadow: 0 0 10px 1px rgba(96, 105, 123, 0.2);
  outline: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.top-area .sorting select:focus {
  box-shadow: 0 0 30px 1px rgba(96, 105, 123, 0.2);
}

#sort-item {
  position: absolute;
  z-index: -100000;
}

.snack-bar-cart {
  padding: 0 12px 0 8px;
  text-decoration: underline;
  color: #3f78e0 !important;
  font-weight: bold;
}

.dismiss {
  color: red !important;
}

.cart-page {
  padding: 75px 15px 0;
  min-height: 80vh;
}

.cart-content {
  padding: 80px 0;
}
.cart-content .table-scrol {
  overflow-x: auto;
}
.cart-content table {
  width: 100%;
  min-width: 600px;
}
.cart-content table .img-container {
  width: 120px;
  overflow: hidden;
}
.cart-content table .img-container img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.cart-content table tr {
  box-shadow: 0px 2px 0 0 #f0f4fd;
}
.cart-content table th {
  padding: 15px;
  color: #343f52;
}
.cart-content table th:first-child {
  text-align: left;
}
.cart-content table .prod-name {
  text-align: left !important;
}
.cart-content table td {
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  color: #60697b;
}
.cart-content table td h3 {
  color: #343f52;
  font-size: 1.1rem;
  font-weight: bold;
}
.cart-content table .prod-remove {
  cursor: pointer;
}
.cart-content .prod-qty {
  font-size: 1rem;
}
.cart-content .qty-icons svg {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}

@media (min-width: 992px) {
  .table-scrol {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .sub-total-area {
    width: 35%;
  }
}
.sub-total-area h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343f52;
}
.sub-total-area .sub-total div {
  padding: 20px 0;
  box-shadow: 0px 2px 0 0 #f0f4fd;
}
.sub-total-area .sub-total div h5 {
  color: #343f52;
  font-weight: bold;
}
.sub-total-area .checkout-btn {
  padding: 0 !important;
  box-shadow: none !important;
  margin-top: 30px;
}
.sub-total-area .checkout-btn a {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #3f78e0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  color: white;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 1;
  position: relative;
}
.sub-total-area .checkout-btn a::after, .sub-total-area .checkout-btn a::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  transition: 0.3s;
  background-color: #f6f7f9;
}
.sub-total-area .checkout-btn a::after {
  left: 0;
}
.sub-total-area .checkout-btn a::before {
  right: 0;
}
.sub-total-area .checkout-btn a:hover {
  color: #3f78e0;
}
.sub-total-area .checkout-btn a:hover::after, .sub-total-area .checkout-btn a:hover::before {
  width: 50%;
}

.cart-loader {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3554c0;
}
.cart-loader span {
  font-size: 6rem;
  font-weight: bold;
  position: relative;
  display: block;
  color: white;
}
@media (max-width: 768px) {
  .cart-loader span {
    font-size: 4rem !important;
  }
}
.cart-loader span::after {
  content: "";
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: white;
  mix-blend-mode: difference;
  animation: loading 3s linear infinite;
  -webkit-animation: loading 3s linear infinite;
}

@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 50;
  }
}
.white-btn,
.blue-btn {
  cursor: pointer;
  display: block;
  padding: 15px 35px 16px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.white-btn:hover,
.blue-btn:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.white-btn {
  background-color: #ffffff;
  color: #343f52;
}

.blue-btn {
  background-color: #3f78e0;
  color: #ffffff;
}
.blue-btn:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  box-shadow: 0px 3px 12px 6px rgba(0, 0, 0, 0.1411764706);
}

.close-btn {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.close-btn .close-circle {
  font-size: 30px;
}
.close-btn .close-x {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #3554c0;
  z-index: 10000;
}

.loader-spin {
  width: 100px;
  height: 100px;
  border-width: 4px;
  border-color: #ffffff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  animation: rotate-right 2s linear infinite;
}
.loader-spin::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-width: 4px;
  border-color: #f6f7f9;
  border-style: solid dotted;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: rotate-left 1s linear infinite;
  -webkit-animation: rotate-left 1s linear infinite;
}

@keyframes rotate-right {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  50% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
  100% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  50% {
    transform: rotate(-1turn);
    -webkit-transform: rotate(-1turn);
    -moz-transform: rotate(-1turn);
    -ms-transform: rotate(-1turn);
    -o-transform: rotate(-1turn);
  }
  100% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
}
.grid-box .right {
  margin-left: 20px;
}
.grid-box .right h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.fixed-heading h4 {
  font-size: 18px;
  font-weight: bold;
}
.fixed-heading h1 {
  font-weight: bold;
  font-size: 2rem;
  max-width: 800px;
  margin: 0 auto 40px;
}

.lower-area {
  margin-bottom: 6px;
}

.check {
  background-color: #e0e9fa;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.check svg {
  font-size: 12px;
  color: #3f78e0;
}

.section-padding {
  padding: 80px 15px;
}

.video-container {
  padding: 0 25px;
}
.video-container .video-ele {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.video-icons {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
  animation: ripple 1.5s linear infinite;
  -webkit-animation: ripple 1.5s linear infinite;
}
.video-icons .circle {
  color: #ffffff;
  font-size: 4.5rem;
}
.video-icons .video-player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}/*# sourceMappingURL=app.css.map */