.home-landing {
  background-image: linear-gradient(0deg, #2c46a7, #3757c4);
  color: #ffffff;
  min-height: 100vh;
}
.home-landing h2 {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .home-landing h2 {
    font-size: 1.2rem;
  }
}
.home-landing h1 {
  font-size: 3rem;
  margin: 10px auto 30px;
}
@media (max-width: 767px) {
  .home-landing h1 {
    font-size: 2.5rem;
    padding: 0 6px;
  }
}
.home-landing h1 span {
  position: relative;
}
.home-landing h1 span::after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #08aeea, #2af598);
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .home-landing h1 {
    max-width: 75%;
  }
}

.video {
  margin-top: -100px;
  padding: 0 0 50px;
}
.video .video-container {
  padding: 0 25px;
}
.video .video-container .video-ele {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.video .video-icons {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
  animation: ripple 1.5s linear infinite;
  -webkit-animation: ripple 1.5s linear infinite;
}
.video .video-icons .circle {
  color: #ffffff;
  font-size: 4.5rem;
}
.video .video-icons .video-player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.video-popup {
  padding: 0 15px;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 101;
}
.video-popup::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}
.video-popup .close-btn {
  top: -15px;
  right: -15px;
  position: absolute;
  opacity: 0.6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.video-popup .close-btn:hover {
  opacity: 1;
}
.video-popup .close-btn .close-circle {
  opacity: 0.6;
}
.video-popup .close-btn .close-x {
  color: white;
  opacity: 1;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.2), 0 0 0 0.2rem rgba(255, 255, 255, 0.2), 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.4rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.2), 0 0 0 0.7rem rgba(255, 255, 255, 0.2), 0 0 0 1.4rem rgba(255, 255, 255, 0.2), 0 0 0 2rem rgba(255, 255, 255, 0);
  }
}
.about h4,
.more-about h4 {
  color: #3f78e0;
  font-weight: bold;
}
.about .mb-5,
.more-about .mb-5 {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}
.about h2,
.more-about h2 {
  color: #343f52;
  font-weight: bold;
  font-size: 1.9rem;
  margin: 15px 0 6px;
}
.about h5,
.more-about h5 {
  color: #343f52;
  font-weight: bold;
}
.about p,
.more-about p {
  color: #60697b;
  line-height: 1.6;
}

.about {
  padding: 80px 0;
}
.about .about-imgs {
  padding: 0 15px;
}
@media (min-width: 992px) {
  .about .about-imgs {
    width: 52%;
  }
}
.about .about-imgs img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about .about-text {
  padding: 0 15px;
}
@media (max-width: 991px) {
  .about .about-text {
    padding: 50px 15px 0;
  }
}
@media (min-width: 992px) {
  .about .about-text {
    width: 45%;
  }
}
.about .lower-about {
  padding: 0 15px;
}
.about .lower-about .right h3 {
  color: #343f52;
}
.about .lower-about .left {
  padding: 15px 22px;
  background-color: #e0e9fa;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #3554c0;
  font-weight: bold;
  border-radius: 8px;
}

.services {
  padding: 80px 15px;
  background-color: #21262c;
}
.services h4 {
  color: #ffffff;
  font-weight: bold;
}
.services h1 {
  color: #ffffff;
}
.services .grid-box .left {
  flex: 1;
}
.services .grid-box .left img {
  max-width: 80px;
  margin: auto;
}
.services .grid-box .right {
  flex: 2;
}
.services .grid-box .right h3 {
  color: #ffffff;
}
.services .grid-box .right p {
  color: #cacaca;
}

.more-about {
  padding: 80px 15px;
}
.more-about .img-container {
  position: relative;
}
@media (min-width: 768px) {
  .more-about .img-container {
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  .more-about .img-container {
    width: 58%;
  }
}
.more-about .img-container img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.more-about .img-container .grid-box {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.more-about .img-container .grid-box {
  display: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 18%;
  left: -16px;
  align-items: center;
  padding: 16px 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .more-about .img-container .grid-box {
    display: flex;
  }
}
.more-about .img-container .grid-box h3 {
  margin-bottom: 0;
  color: #60697b;
  font-weight: bold;
}
.more-about .img-container .grid-box .left {
  width: 40px;
  height: 40px;
  background-color: #e0e9fa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.more-about .img-container .grid-box .left svg {
  color: #3f78e0;
}
.more-about .img-container .box {
  width: 160px;
  padding: 12px 20px;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  background-color: #ffffff;
  position: absolute;
  bottom: 10%;
  left: -26px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.more-about .img-container .box h6,
.more-about .img-container .box h5 {
  font-size: 18px;
  font-weight: bold;
  color: #60697b;
}
.more-about .img-container .box h5 {
  margin-top: 10px;
}
.more-about .img-container .curved-progress {
  width: 120px;
  height: 60px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.more-about .img-container .curved-progress::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #3f78e0;
  position: absolute;
  left: 0;
  top: 0;
  border-right-color: #e0e9fa;
  transform: rotate(20deg);
}
@media (max-width: 991px) {
  .more-about .more-about-text {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .more-about .more-about-text {
    width: 40%;
  }
}

.case {
  padding: 80px 15px;
  background-color: #f6f7f9;
}
.case .fixed-heading h4 {
  color: #3554c0;
}
.case .fixed-heading h1 {
  color: #343f52;
}
.case .card {
  overflow: hidden;
  box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.case .card p {
  color: #60697b;
}
.case .img-container {
  cursor: pointer;
  overflow: hidden;
}
.case .img-container:hover::after {
  opacity: 0.6;
}
.case .img-container:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.case .img-container:hover span {
  opacity: 1;
  top: 50%;
}
.case .img-container img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .img-container span {
  font-size: 18px;
  font-weight: bold;
  top: 47%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .img-container::after {
  content: "";
  z-index: 1;
  background-color: #21262c;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .card-body {
  padding: 40px 40px 30px;
  border-bottom: 1px solid rgba(52, 63, 82, 0.07);
  color: #343f52;
}
.case .card-body h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.case .card-footer {
  padding: 20px 30px;
  color: #aab0bc;
}
.case .card-footer .right,
.case .card-footer .left {
  cursor: pointer;
}
.case .card-footer .right {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.case .card-footer .right:hover {
  color: #3554c0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes showOff {
  0% {
    opacity: 0;
    top: 49%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
.choose-us {
  padding: 80px 15px;
  background-color: #fefefe;
}
.choose-us p {
  color: #60697b;
}
.choose-us .fixed-heading h4 {
  color: #3554c0;
}
.choose-us .fixed-heading h1 {
  color: #343f52;
}
.choose-us .grid-links {
  margin-bottom: 40px;
}
.choose-us .mt-5 {
  margin-top: 20px;
}
.choose-us .pl-2 {
  padding-left: 10px;
}
.choose-us .why-link {
  padding: 20px 16px 20px 24px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.choose-us .why-link:hover, .choose-us .why-link.active {
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 15px rgba(0, 0, 0, 0.08);
}
.choose-us .why-link .grid-box h3 {
  color: #343f52;
}
.choose-us .why-link .grid-box .left {
  flex: 1;
}
.choose-us .why-link .grid-box .left img {
  max-width: 80px;
  margin: auto;
}
.choose-us .why-link .grid-box .right {
  flex: 2;
}
@media (min-width: 992px) {
  .choose-us .route-ele .img-content {
    width: 49%;
  }
}
@media (max-width: 991px) {
  .choose-us .route-ele .img-content {
    margin-bottom: 30px;
  }
}
.choose-us .route-ele .img-content img {
  box-shadow: 0px 0px 12px 15px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.choose-us .route-ele .img-content .left-imgs,
.choose-us .route-ele .img-content .right-imgs,
.choose-us .route-ele .img-content .img-container {
  display: grid;
  gap: 20px;
}
.choose-us .route-ele .img-content .left-imgs {
  width: 48%;
}
.choose-us .route-ele .img-content .right-imgs {
  width: 48%;
}
.choose-us .route-ele .img-content .wider {
  width: 55% !important;
}
.choose-us .route-ele .img-content .smaller {
  width: 40% !important;
}
.choose-us .route-ele .img-content .left-col-1 {
  align-self: center;
}
.choose-us .route-ele .img-content .left-col-2 {
  margin-left: auto;
}
.choose-us .route-ele .router-ele-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-us .route-ele .router-ele-text h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343f52;
}
.choose-us .route-ele .router-ele-text > p {
  margin: 20px 0;
}
@media (min-width: 992px) {
  .choose-us .route-ele .router-ele-text {
    width: 47%;
  }
}
.choose-us .route-ele .router-ele-text .blue-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
}

.header-animation {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header-animation header {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
  background-color: #ffffff;
}
.header-animation header .right svg {
  color: #343f52;
}
.header-animation header .pc-nav > li > a {
  color: #343f52;
}
.header-animation header .pc-nav > li > a:hover {
  color: #3f78e0;
}

.page-nav-box {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1490196078);
}

header {
  background-color: transparent;
  z-index: 100;
  padding: 0 15px;
  width: 100%;
  position: absolute;
  color: #ffffff;
}
header nav {
  min-height: 74px;
}
header nav .pc-nav > li > a {
  padding: 25px 20px;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav .pc-nav > li > a:hover {
  color: rgba(255, 255, 255, 0.6980392157);
}
header nav .pc-nav > li > a > svg {
  font-size: 16px;
}
header nav .pc-nav li {
  text-transform: capitalize;
}
header nav .pc-nav .pages {
  cursor: pointer;
}
header nav .pc-nav .pages:hover .pages-nav {
  display: block;
  animation: transform forwards 0.1s linear;
  -webkit-animation: transform forwards 0.1s linear;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}
header nav .pc-nav .pages-nav {
  padding: 25px 25px 5px;
  display: none;
  background-color: #ffffff;
  position: absolute;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
header nav .pc-nav .pages-nav > li > a {
  padding: 0 15px 20px 10px;
  display: block;
  color: #343f52;
  font-size: 1.2rem;
  font-weight: bold;
}
header nav .pc-nav .pages-nav > li > a:hover {
  color: #3554c0;
}
header .right .cart-icon {
  font-size: 18px;
  cursor: pointer;
}
header .right .login {
  display: block;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 15px;
  background-color: #ffffff;
  color: #21262c;
}
header .right .menu-icon {
  font-size: 24px;
  cursor: pointer;
}
@media (min-width: 576px) {
  header .right .menu-icon {
    font-size: 26px;
  }
}

.drawer {
  height: 100vh;
  z-index: 1000;
  left: 0;
  top: 0;
}
.drawer .drawer-heading {
  padding-bottom: 30px;
}
.drawer .drawer-heading h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.drawer .drawer-heading .close-icon .close-circle {
  color: hsla(0, 0%, 100%, 0.08);
}
.drawer .drawer-heading .close-icon .close-x {
  color: #ffffff;
}
.drawer .drawer-content {
  position: fixed;
  padding: 30px;
  width: 300px;
  background-color: #21262c;
}
.drawer .drawer-content ul > li > a {
  display: flex;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: bold;
  padding: 6px 0;
  cursor: pointer;
}
.drawer .drawer-content ul > li > a:hover {
  color: rgba(255, 255, 255, 0.6980392157);
}
.drawer .drawer-content .pages-nav {
  height: 0;
  overflow: hidden;
}
.drawer .drawer-content .page-links {
  padding: 8px 20px;
}
.drawer .c-links a {
  padding-bottom: 12px;
}
.drawer .drawer-icons svg {
  padding: 0 20px 0 0;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.drawer .drawer-icons svg:hover {
  transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
}
.drawer .drawer-closer {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #21262c;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@keyframes transform {
  0% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
.white-btn,
.blue-btn {
  cursor: pointer;
  display: block;
  padding: 18px 28px 19px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.white-btn:hover,
.blue-btn:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.white-btn {
  background-color: #ffffff;
  color: #343f52;
}

.blue-btn {
  background-color: #3f78e0;
  color: #ffffff;
}
.blue-btn:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  box-shadow: 0px 3px 12px 6px rgba(0, 0, 0, 0.1411764706);
}

.close-btn {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.close-btn .close-circle {
  font-size: 30px;
}
.close-btn .close-x {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.grid-box .right {
  margin-left: 20px;
}
.grid-box .right h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.fixed-heading h4 {
  font-size: 18px;
  font-weight: bold;
}
.fixed-heading h1 {
  font-weight: bold;
  font-size: 2rem;
  max-width: 800px;
  margin: 0 auto 40px;
}

.lower-area {
  margin-bottom: 6px;
}
.lower-area .check {
  background-color: #e0e9fa;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.lower-area .check svg {
  font-size: 12px;
  color: #3f78e0;
}

p {
  line-height: 1.6;
}/*# sourceMappingURL=app.css.map */